PORT=4042
WEB_ORIGIN=http://localhost:3042
DATABASE_URL=postgres://mincetur:mincetur@localhost:5460/mincetur_juegos_casino
IDENTIDAD_FISCAL_DATABASE_URL=postgres://fiscal:fiscal@localhost:5438/identidad_fiscal
